 html {
     font-family:  "Times New Roman", serif;
 }
 
 body {
     margin: 0;
     flex-direction: column;
 }
 
 header {
     background:  rgb(220, 204, 174);
     text-align: center;
     height: min-content;
     padding: 1em;
 }
 
 section {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     height: 100vh;
     flex: 1;
 }
 
 #tablero div {
    display: flex;
    align-items: center;

}
  
 article {
     border-width: 1px;
     border-style: solid;
     padding: 1%;
     margin: 1em;
     text-align: center;
     background-color: rgb(220, 204, 174);
     flex: 1

 }
 
 article:nth-child(2) {
     flex: 2;
 }
 
 #tablero {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr;
     height: 50%;

 }
 
 #topLeft {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
 }

 #topCenter {
    border-bottom: 1px solid black;
 }
 #topRight{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
 }
 
 #centerLeft{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
 }

 #centercenter {
    border-bottom: 1px solid black;
 }

 #centerRight {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
 }

 #bottomLeft {
    border-right: 1px solid black;
 }

 #bottomRight{
    border-left: 1px solid black;
 }
 

 #tablero div {
     display: block;
 }

h1 {
    border-top: 2px solid black;
    padding-top: 1%;
}

p {
    text-align: justify;
    padding: 5%;
}

 table {
   margin:auto
}

h2{
    font-size: medium;
    margin-top: 15%;
}
tr:nth-child(even) {
    background-color: #eef7d5;
  }

img{
  
    align-items: center;
    display: flex;
    margin: auto;
    max-width: 70%;
    max-height: 80%;

}